import init.encore.usb.rc

on early-init
    start hwprops
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system

# for backwards compatibility
    symlink /storage/sdcard0 /mnt/emmc
    symlink /storage/sdcard0 /emmc
    symlink  /storage/sdcard1 /sdcard
    symlink  /storage/sdcard1 /mnt/sdcard

    export EXTERNAL_STORAGE /storage/sdcard1
    export SECONDARY_STORAGE /storage/sdcard0

on init

    # setup global environment
    export PHONE_STORAGE /storage/sdcard0
    export DSP_PATH /system/lib/dsp
    export DEFAULT_BASEIMAGE /system/lib/dsp/baseimage.dof

    # create mountpoints
    mkdir /mnt/usbdisk 0000 system system
    mkdir /mnt/emmc 0000 system system
    mkdir /mnt/usbdisk 0000 system system
    symlink /mnt/emmc /emmc
    symlink /mnt/usbdisk /usbdisk
    symlink /system/vendor /vendor

    # for encore
    mkdir /rom 0777 root root

# ALSA support
    mkdir /dev/snd 0777 system system
    symlink /dev/controlC0 /dev/snd/controlC0
    symlink /dev/pcmC0D0p  /dev/snd/pcmC0D0p
    symlink /dev/pcmC0D0c  /dev/snd/pcmC0D0c
    symlink /dev/timer     /dev/snd/timer
    chown audio audio /dev/pcmC0D0c
    chown audio audio /dev/pcmC0D0p
    chown audio audio /dev/controlC0
    chown audio audio /dev/timer
    chmod 0777 /dev/snd/controlC0
    chmod 0777 /dev/snd/pcmC0D0p
    chmod 0777 /dev/snd/pcmC0D0c
    chmod 0777 /dev/snd/timer

on fs
    # mount partitions
    mount vfat /dev/block/mmcblk0p2 /rom sync noatime nodiratime uid=1000,gid=1000,fmask=117,dmask=007
    mount ext4 /dev/block/mmcblk0p5 /system wait ro barrier=1
    mount ext4 /dev/block/mmcblk0p6 /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p7 /cache wait noatime nosuid nodev barrier=1

on post-fs
    # load kernel modules
    #insmod /system/lib/modules/bridgedriver.ko
    #insmod /system/lib/modules/dm-mod.ko
    #insmod /system/lib/modules/dm-crypt.ko
    #insmod /system/lib/modules/tun.ko

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    setprop vold.post_fs_data_done 1
# wi-fi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/mac80211.ko
    insmod /system/lib/modules/wl12xx.ko debug_level=0x63c0

    mkdir /data/local 0771 shell shell
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
# We chown/chmod /data/app again in case it was created at build-time
    chown system system /data/app
    chmod 0771 /data/app
    mkdir /data/property 0700 root root

# create dalvik-cache and double-check the perms
    mkdir /data/dalvik-cache 0771 system system
    chown system system /data/dalvik-cache
    chmod 0771 /data/dalvik-cache

    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chmod 0666 /dev/pvrsrvkm

# change permissions for bridge.  Symlink search directory
    chmod 0777 /dev/DspBridge

# bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
# bluetooth uart
    chown bluetooth bluetooth /dev/ttyS1

    setprop wifi.interface wlan0
    setprop wlan.driver.status "ok"

    # Temporary workaround for SOD
    # Only needed for 2.6.29
    #write /sys/power/wake_lock 1

    # Enable Power Management - thanks NookieFroyo for this

    # Mount Debug file system
    mount debugfs /sys/kernel/debug /sys/kernel/debug
        
    # Enabling sleep in idle path
    write /sys/kernel/debug/pm_debug/sleep_while_idle 1
            
    # Enabling Voltage OFF in idle path
    write /sys/kernel/debug/pm_debug/voltage_off_while_idle 1
                
    # Enabling OFF mode
    write /sys/kernel/debug/pm_debug/enable_off_mode 1
                    
    # switch CPUfreq from performance to hotplug
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/hotplug/down_threshold 30

    #Give system ownership and permission to boost clock for specified timeout
    #Note boost_timeout cannot be changed from application because of dynamic sysfs creation. It will have default value of 3 sec.
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq

    # Boost the CPU for 60 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 60000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

    # Enable SmartReflex autocompensation on VDD1 & VDD2
    write /sys/kernel/debug/smartreflex/sr_core/autocomp 1
    #write /sys/kernel/debug/smartreflex/sr_mpu_iva/autocomp 1

    # change permissions for i2c-2 device
    chmod 0660 /dev/i2c-2
    chown media media /dev/i2c-2

    # change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    # change permissions for ION driver
    chmod 0777 /dev/ion
        
    # Permissions for Overlay
    chmod 0777 /dev/video6
    chmod 0777 /dev/video10

    chmod 0777 /sys/devices/platform/dsscomp/isprsz/enable

    # change permissions for overlay managers and display devices
    chmod 0777 /sys/devices/platform/omapdss/manager0/name
    chmod 0777 /sys/devices/platform/omapdss/manager1/name

    chmod 0777 /sys/devices/platform/omapdss/display0/name

    chmod 0777 /sys/devices/platform/omapdss/display0/enabled

    chmod 0777 /sys/devices/platform/omapdss/display0/timings

    chmod 0777 /sys/devices/platform/omapdss/overlay0/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay1/manager
    chmod 0777 /sys/devices/platform/omapdss/overlay2/manager

    chmod 0777 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0777 /sys/devices/platform/omapdss/overlay2/enabled

    # SGX driver
    chmod 0666 /dev/pvrsrvkm

    #Set read_ahead buffers
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk1/bdi/read_ahead_kb 1024

    # There's no back seek penalty on MMC
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/back_seek_penalty 0
    # Allow us to seek up to 1GB back
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/back_seek_max 1048576
    # Only pick one request from each queue at each round robin
    write /sys/devices/platform/omap/omap_hsmmc.1/mmc_host/mmc0/mmc0:0001/block/mmcblk0/queue/iosched/quantum 1

    # change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    
    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled
    
    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings
    chown system system /sys/devices/platform/omapdss/display2/code

    # change permissions for mtd device
    chmod 0660 /dev/mtd/mtd0
    chown media media /dev/mtd/mtd0

    # change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    # change permissions for ION driver
    chmod 0777 /dev/ion

    # change permissions for alsa nodes
    chmod 0777  /dev/snd/pcmC0D0c
    chmod 0777 /dev/snd/pcmC0D0p
    chmod 0777  /dev/snd/controlC0
    chmod 0777  /dev/snd/timer

    #change permissions for alsa nodes for audio modem
    chmod 0777 /dev/snd/pcmC0D5c
    chmod 0777 /dev/snd/pcmC0D5p

    #change permissions for alsa nodes for HDMI
    chmod 777  /dev/snd/pcmC0D7p

on boot

# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# Set timeout value for rmnet stats.
    write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000

# Define the oom_adj values for the classes of processes that can be
# killed by the kernel.  These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.SECONDARY_SERVER_ADJ 2
    setprop ro.BACKUP_APP_ADJ 2
    setprop ro.HOME_APP_ADJ 4
    setprop ro.HIDDEN_APP_MIN_ADJ 7
    setprop ro.CONTENT_PROVIDER_ADJ 14
    setprop ro.EMPTY_APP_ADJ 15

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    setprop ro.FOREGROUND_APP_MEM 1536
    setprop ro.VISIBLE_APP_MEM 2048
    setprop ro.SECONDARY_SERVER_MEM 4096
    setprop ro.BACKUP_APP_MEM 4096
    setprop ro.HOME_APP_MEM 4096
    setprop ro.HIDDEN_APP_MEM 5120
    setprop ro.CONTENT_PROVIDER_MEM 5632
    setprop ro.EMPTY_APP_MEM 6144

# Write value must be consistent with the above properties.
# Note that the driver only supports 6 slots, so we have HOME_APP at the
# same memory level as services.
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,7,14,15

    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096,5120,5632,6144

    # Set init its forked children's oom_adj.
    write /proc/1/oom_adj -16

    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    4095,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

# Define modem related settings
    setprop keyguard.no_require_sim 1 
    setprop ro.config.nocheckin yes
    
on property:dev.bootcomplete=1
    start bootcnt

    class_start default

service console /system/bin/sh
    console

service servicemanager /system/bin/servicemanager
    user system
    critical
    onrestart restart zygote
    onrestart restart media

service vold /system/bin/vold
    socket vold stream 0660 root mount

#service mountd /system/bin/mountd
#   socket mountd stream 0660 root mount

service debuggerd /system/bin/debuggerd

service hwprops /sbin/hwprops
    class core
    critical
	 disabled
	 oneshot

# Initialize the SGX driver
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

# Start of SGX driver
service pvrsrv /system/bin/sh /system/bin/sgx/rc.pvr start
    class core
    user root
    oneshot

# Update the battery data heuristics every hour
service logbatterydata /system/bin/log_battery_data.sh
    class core
    user root
    group root

# OMAP specific services start here

service bootcnt /system/bin/clear_bootcnt.sh
    class core
    user root
    group root
    disabled
    oneshot

# OMAP stuff:
# most of this is unused for the moment.

#service pppd_gprs /etc/init.gprs-pppd /dev/pts/1
#   user root
#   group radio cache inet misc
#   disabled

#service fw3a /system/bin/fw3a_core
#   user media
#   group system camera

service uim /system/bin/uim-sysfs
    class core
    user root
    group media bluetooth
    oneshot

#service ifcfg_ti /system/bin/netcfg wlan0 up
#   class main
#   disabled
#   oneshot


service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
#service sdcard /system/bin/sdcard /data/media 1023 1023
#   class late_start

# load DSP firmware
service baseimage /system/bin/dspexec /system/lib/dsp/baseimage.dof
    class main
    user root
    group root
    oneshot

on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions adb
    #write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
    
on property:sys.boot_completed=1
    log "== init.encore.rc: on property:sys.boot_completed=1 -----------------------"
