/dev/ttyUSB0              0660   system    system

#for DSSCOMP
/dev/dsscomp              0660   system     system
/dev/ion                  0660   media      system

/dev/pvrsrvkm             0666   system     system
/dev/video6               0660   system     camera
/dev/video10              0660   system     camera

/dev/DspBridge            0660   media      system

/dev/i2c-2                0660   media      media
